body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}

:root {
  --color-primary: #34495e;
  --color-dark: #222;
  --color-shade: #888;
}
