body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  --color-dark: #222;
  --color-shade: #888;
}
