.LoginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:var(--color-primary);
}

.LoginPage_center {
  background-color:white;
  margin: 0 auto;
  max-width: 300px;
  border-radius:5px;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
  padding: 30px;
}

.LoginPage_center h1 {
  margin: 0;
  margin-bottom: 20px;
}

.LoginPage_center p{
  color:rgba(0,0,0,0.5);
  margin-bottom:20px;
}
