.GraphiQLDev_open {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.GraphiQLDev_btn {
  z-index: 100;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: none;
  border-radius: 4px;
  padding: 8px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
