.LoadingSpinner {
  height: 50px;
  width: 50px;

  border: 5px solid #ddd;
  border-top: 5px solid var(--color-dark);
  border-radius: 100%;
  margin: 10px auto;

  animation: LoadingSpinner_spin 1.1s linear infinite;
}

@keyframes LoadingSpinner_spin {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
