.LeaderBoard {
  position: relative;
  height: 100%;
  width: 100%;
}

.LeaderBoardLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 40px;
  margin-bottom: 25px;
  font-size: 23px;
}

.BoardTitle > .LeaderBoardLine {
  font-weight: bolder;
  font-size: 30px;
  border-bottom: solid 3px black;
}
